<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#"><i class="fas fa-window-close"></i></a>
        </div>
        <form action="/search-results">
            <label for="search">Cidade</label>
            <div class="searchField">
                <input type="text" name="search" placeholder="Digite o nome da cidade">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>