@media (max-width:900px) {

    #page-home {
        background-position-x: 700vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }
    
    #page-home header {
        display: flex;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-home header a {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 20px;
    }

    #page-home main {
        align-items: center;
    }
    #page-home main a   {
        margin-top: 10px;
    }

    #page-search-results main .cards {
        grid-template-columns: 1fr 1fr; 
    }
    #page-search-results main.card .img {
        height: 200px;
    }
    #create-point form {
        margin: 40px auto;
        padding: 34px;
        max-width: 100vw;
    }
    #create-point form input, form select {
        padding: 8px 12px;  
    }
    #create-point form .fieldgroup {
        flex-direction: column;
    }

    #create-point form .fieldgroup .field + .field {
        margin-left: 0px;
    }

    #create-point .itens-grid {
        grid-template-columns:  1fr 1fr;
}
}
@media (max-width:450px) {
    #page-home header a {
        bottom: 0px;
        padding-bottom: 10px
        ;
    }

    #page-home header img {
        max-height: 10vh;
    }

    #page-home main h1 {
        font-size: 35px;
    }

    #page-search-results main .cards {
        grid-template-columns: 1fr; 
}
    #page-search-results main.card .img {
        height: 250px;
    }
    #create-point .itens-grid {
        grid-template-columns:  1fr;
}
}