:root   {
    --title-color: #422153;
    --primary-color: #1e6b17;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5  {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

a   {
    text-decoration: none;
}

body {
    background: #d5d5fd;
    -webkit-font-smoothing: antialiased;
}
   




